<div class="header">
  <h3>S'inscrire</h3>
    <div class="croix">
      <p><%= link_to '+', locations_path %></p>
    </div>
</div>

<div class="form-container">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :name,
                  required: true,
                  autofocus: true,
                  label: 'Nom' %>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" },
                  label: 'Mot de passe' %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" },
                  label: 'Confirmer le mot de passe' %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>

    <div class="submit-group">
      <%= f.button :submit, "S'inscrire", class: "button button-form" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
 </div>
