<div class="header">
  <h3>Mon profil</h3>
  <div class="x">
    <div class="croix">
      <p>+</p>
    </div>
  </div>
</div>

<div class="form-container">
  <div class="profile_description">
      <%= image_tag "photo.png", class: "avatar" %>
      <!-- quand on mettra cl_image_tag avec cloudinary on rajoutera:  crop: :thumb, gravity: :face  -->
    <div class= "description_text">
      <h2><%= @user.name %></h2>
      <p>13 avenue blabalbalb<%= @user.address %></p>
    </div>
  </div>

  <hr>
  <%= link_to 'Suggérer une adresse', new_location_path %>
  <hr>
    <%= link_to 'Suggérer un évènement', new_location_path %>
  <hr>
  <%= link_to 'Vous avez une remarque ?', new_location_path %>
  <hr>
  <div class="geoloc">
  <p>Géolocalisation</p>
  <p><%= image_tag 'toggle-on.png', width: 30 %>
  </p>
  </div>
  <hr>

  <div class="button">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= t(".sign_out", default: "Déconnexion") %>
    <% end %>
  </div>
</div>

 <!-- <%#= render 'form', location: @location %> -->
