<div class="header">
  <h3>Mon profil</h3>
    <div class="croix">
      <%= link_to '+', locations_path %>
    </div>
</div>

<div class="form-container">
  <div class="profile_description">
    <% if @user.photo.file.nil? == false %>
        <%= cl_image_tag @user.photo, crop: :thumb, gravity: :face, class: 'avatar' %>
    <% else %>
          <%= cl_image_tag('vert_1.png', class: 'avatar') %>
    <% end %>
    <div class= "description_text">
      <h2><%= @user.name %></h2>
      <p>16 Villa Gaudelet, 75011 Paris<%= @user.address %></p>
    </div>
  </div>

  <hr>
  <%= link_to 'Suggérer une adresse', new_location_path %>
  <hr>
  <%= link_to 'Vous avez une remarque ?', new_location_path %>
  <hr>
  <div class="geoloc">
  <p>Géolocalisation</p>
  <p><%= image_tag 'toggle-on.png', width: 40 %>
  </p>
  </div>
  <hr>

  <div class="button">
    <%= link_to destroy_user_session_path, method: :delete do %>
      <%= t(".sign_out", default: "Déconnexion") %>
    <% end %>
  </div>
</div>

 <!-- <%#= render 'form', location: @location %> -->
