<div class="home-background">
  <div class="home-backgroung-img">
  <%= image_tag 'map.png', width: 375 %>
  </div>
  <div class="home-wrapper">
    <div class="home-logo">
      <%= image_tag 'logo2.png', width: 130 %>
    </div>
    <div class="home-description">
      <ul>
        <li>
          <h2>1</h2>
          <p><strong>Informer</strong> sur les lieux éco-responsables : points de collecte, commerces éthiques et évènements...</p>
        </li>
        <li>
          <h2>2</h2>
          <p><strong>Promouvoir</strong> les initiatives écologiques, locales et solidaires.</p>
        </li>
        <li>
          <h2>3</h2>
          <p><strong>Répertorier</strong> sur une carte unique tous les lieux dans Paris qui répondent à une problématique environnementale.</p>
        </li>
      </ul>
    </div>
    <div class="home-markers-container">
      <hr>
      <div class="home-markers-row">
        <div class="home-markers-content">
          <%= image_tag 'recyclage-pin.png', width: 30 %>
          <p>Recyclage</p>
        </div>
        <div class="home-markers-content">
          <%= image_tag 'garden.png', width: 30 %>
          <p>Jardins</p>
        </div>
        <div class="home-markers-content">
          <%= image_tag 'marches-pin.png', width: 30 %>
          <p>Marchés</p>
        </div>
      </div>
      <div class="home-markers-row">
        <div class="home-markers-content">
          <%= image_tag 'compost-pin.png', width: 30 %>
          <p>Composteurs</p>
        </div>
        <div class="home-markers-content">
          <%= image_tag 'rating-pin.png', width: 30 %>
          <p>Events</p>
        </div>
        <div class="home-markers-content">
          <%= image_tag 'vetement-pin.png', width: 30 %>
          <p>Vêtements</p>
        </div>
      </div>
    </div>
    <div class="button button-home" id="custom-btn-home">
      <%= link_to 'ok! j\'ai compris', locations_path %>
      <i class="fas fa-check-circle"></i>
    </div>
  </div>
</div>
