<div class="home-background">
  <div class="home-wrapper">
    <div class="home-logo">
      <%= image_tag 'logo2.png', width: 130 %>
    </div>
    <div class="home-description">
      <p>
        <strong>Répertorier, informer <br> et promouvoir</strong> les lieux <br> éco-responsables de Paris.
      </p>
    </div>
    <div class="home-markers-container">
      <hr>
      <div class="home-markers-row">
        <div class="home-markers-content">
          <%= image_tag 'compost-pin.png', width: 70 %>
          <p>Composteurs</p>
        </div>
        <div class="home-markers-content">
          <%= image_tag 'marches-pin.png', width: 70 %>
          <p>Marchés</p>
        </div>
        <div class="home-markers-content">
          <%= image_tag 'vetement-pin.png', width: 70 %>
          <p>Vêtements</p>
        </div>
      </div>
      <div class="home-markers-row">
        <div class="home-markers-content">
          <%= image_tag 'recyclage-pin.png', width: 70 %>
          <p>Recyclage</p>
        </div>
        <div class="home-markers-content">
          <%= image_tag 'garden.png', width: 70 %>
          <p>Jardins</p>
        </div>
      </div>
    </div>
    <div class="button button-home" id="custom-btn-home">
      <%= link_to 'ok! j\'ai compris', locations_path %>
      <i class="fas fa-check-circle"></i>
    </div>
  </div>
</div>
