<p> <%= review.comment %> </p>
<p> <%= review.rating %> </p>
<p> <%= review.user.name %> </p>
<p> <%= review.user.email %> </p>
<div class="photo-avatar" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= review.user.photo %>);">
</div>
