<%= simple_form_for :search, url: locations_path, method: :get, remote: true  do |f| %>
  <div class="address-form" id="search-bar">
    <%= f.input :address, input_html: { id: "address-id", class: "form-control", placeholder: "Entrez une adresse"} %>

  </div>

  <!-- MODAL FILTER -->
  <div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="header">
          <h3>Filtrer</h3>
          <span aria-hidden="true" type="button" class="close-filter" data-dismiss="modal" aria-label="Close">&times;</span>
        </div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Catégories</h5>
        </div>
        <div class="modal-body modal-body-filter">
          <%= simple_form_for :search, method: :get,  url: locations_path, remote: true do |f| %>
            <div class="category-choices">
              <input type="hidden" name="search[categories][]" value="">
              <% Location::CATEGORIES.each do |categorie| %>
                <div class="select-category">
                  <input type="checkbox" class="hidden"  value="<%= categorie %>" name="search[categories][]" id="search_categories_<%= categorie %>">
                  <label for="search_categories_<%= categorie %>" class="category-choice" ><%= categorie %></label>
                </div>
              <% end %>
            </div>
            <%= f.submit 'Go !', class: 'button', id:'go-button' %>
          <% end %>
        </div>
        <div class="modal-footer">
          <button id="close-modal" type="button" class="button" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
