<%= simple_form_for :search, url: locations_path, method: :get, remote: true, class: "form-home" do |f| %>
  <div class="address-form" id="search-bar">
    <%= f.input :address, input_html: { id: "address-id", class: "form-control", placeholder: "Entrez une adresse"} %>
  <%= submit_tag "", id: "submit" %>
  </div>

<!-- MODAL FILTER -->
  <div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="header">
          <h3>Filtrer</h3>
          <span aria-hidden="true" type="button" class="close-filter" data-dismiss="modal" aria-label="Close">&times;</span>
        </div>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Catégories</h5>
        </div>
        <div class="modal-body modal-body-filter">
          <%= f.input :categories, input_html: { id:"categories" }, collection: Location::CATEGORIES, as: :check_boxes %>
          <%= f.submit 'Go !', class: 'button', id:'go-button' %>
        </div>
        <div class="modal-footer">
          <button id="close-modal" type="button" class="button" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
<% end %>
