<div class="banner">
  <div class="banner-content">
    <div class="banner-top">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', width: 60 %>
      <% end %>
      <%= link_to users_profile_path do %>
        <%= image_tag 'avatar.png', width: 40 %>
      <% end %>
    </div>
    <h2>Vivez parisien, vivez écolo !</h2>

    <%= render "searchbar" %>
    <div class="filter" data-toggle="modal" data-target="#categoriesModal">
      <%= image_tag 'controls.png', width: 20 %>
    </div>
  </div>
</div>

<!-- map -->
<%= render "map" %>




<!-- MODAL CARDS -->
<% @locations.each do |location| %>
  <div class="modal fade" id="<%="cardModal-#{location.id}"%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="photo-header" style="background: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= location.photo %>);"></div>
        <button id="itinerary-btn" type="button" class="itinerary-btn <%="itinerary-btn-#{location.id}"%>">
          <i class="fas fa-location-arrow"></i>
        </button>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <%= location.name %>
          </h5>
          <p><%= location.category %></p>
            <span aria-hidden="true" type="button" class="close close-top-card-modal" data-dismiss="modal" aria-label="Close">&times;</span>
        </div>
        <div class="modal-body">
          <p><%= image_tag 'gray-pin.png' %>
          <%= location.address %></p>
          <p> <%= location.price %></p>
          <br>
          <p> <%= location.description %></p>
          <p> Location ID = <%= location.id %></p>
        </div>
        <div class="separation"></div>
        <div class="card-reviews">
          <% if location.reviews.count == 0 %>
            <p> <%= image_tag 'review-quotes.png' %>
            Laissez un commentaire...</p>
            <div id="<%="review-form-#{location.id}"%>">
              <%= render 'add_comments_review', location: location, review: Review.new %>
            </div>
            <div id="<%="review-container-#{location.id}"%>">
            </div>
          <% else %>
            <p><%= image_tag 'review-quotes.png' %></p>
            <div id="<%="review-form-#{location.id}"%>">
              <%= render 'add_comments_review', location: location, review: Review.new %>
            </div>
            <div id="<%="review-container-#{location.id}"%>">
              <% location.reviews.reverse_each do |review| %>
                <%= render "reviews/show", review: review %>
              <% end %>
            </div>
          <% end %>
        </div>
        <div class="card-modal-footer">
          <button id="card-close-modal" type="button" class="button" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

