<div class="banner">
  <div class="banner-content">
    <div class="banner-top">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', width: 60 %>
      <% end %>
      <%= link_to users_profile_path do %>
        <%= image_tag 'avatar.png', width: 40 %>
      <% end %>
    </div>
    <h2>Vivez parisien, vivez écolo !</h2>

    <div class="filter" data-toggle="modal" data-target="#categoriesModal">
      <%= image_tag 'controls.png', width: 20 %>
    </div>
  </div>
</div>

<!-- map -->
<%= render "map" %>

<!-- MODAL FILTER -->
<div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="header">
        <h3>Filtrer</h3>
        <span aria-hidden="true" type="button" class="close-filter" data-dismiss="modal" aria-label="Close">&times;</span>
      </div>
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Catégories</h5>
      </div>
      <div class="modal-body modal-body-filter">
      <%= simple_form_for :search, method: :get,  url: locations_path, remote: true do |f| %>
        <%= f.input :categories, collection: Location::CATEGORIES, as: :check_boxes %>
        <%= f.submit 'Go !', class: 'button', id:'go-button' %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button id="close-modal" type="button" class="button" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>


<!-- MODAL CARDS -->
<% @locations.each do |location| %>
  <div class="modal fade" id="<%="cardModal-#{location.id}"%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="photo-header"></div>
        <button id="itinerary-btn" type="button" class="itinerary-btn <%="itinerary-btn-#{location.id}"%>">
          <i class="fas fa-location-arrow"></i>
        </button>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <%= location.name %>
          </h5>
          <p><%= location.category %></p>

            <span aria-hidden="true" type="button" class="close close-top-card-modal" data-dismiss="modal" aria-label="Close">&times;</span>

        </div>
        <div class="modal-body">
          <p><%= image_tag 'gray-pin.png' %>
          <%= location.address %></p>
          <p> <%= location.price %></p>
          <br>
          <p> <%= location.description %></p>
        </div>
        <div class="separation"></div>
        <div class="card-reviews">
          <p> <%= image_tag 'review-quotes.png' %>
          Laissez un commentaire... </p>
        </div>
        <div class="card-modal-footer">
          <button id="card-close-modal" type="button" class="button" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
<% end %>

