<div class="banner">
  <div class="banner-content">
    <div class="banner-top">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', width: 60 %>
      <% end %>
      <%= link_to users_profile_path do %>
        <%= image_tag 'avatar.png', width: 40 %>
      <% end %>
    </div>
    <h2 id="slogan">Vivez parisien, vivez écolo !</h2>

    <%= render "searchbar" %>

    <div class="filter" data-toggle="modal" data-target="#categoriesModal">
      <%= image_tag 'controls.png', id:"filter-inner-img", width: 30 %>
    </div>
  </div>
  <div class="gradient">
  </div>
  <i id="fold-banner" class="fas fa-chevron-circle-up"></i>
</div>

<!-- map -->
<%= render "map" %>

<!-- MODAL CARDS -->
<% @locations.each do |location| %>
  <div class="modal fade" id="<%="cardModal-#{location.id}"%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="photo-header" style="background: linear-gradient(-225deg, rgba(0,101,168,0.3) 0%, rgba(0,36,61,0.3) 50%), url(<%= location.photo %>);"></div>
        <button id="itinerary-btn" type="button" class="itinerary-btn <%="itinerary-btn-#{location.id}"%>">
          <%= image_tag 'turn-right.png', class: "arrow-turn", width: 30 %>
        </button>
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <%= location.name %>
          </h5>
          <p><%= location.category %></p>
            <span aria-hidden="true" type="button" class="close close-top-card-modal" data-dismiss="modal" aria-label="Close">&times;</span>
        </div>
        <div class="modal-body">
          <p><%= image_tag 'gray-pin.png' %>
          <%= location.address %></p>
          <% if location.price.present? %>
            <p><%= location.price %></p>
          <% end %>
          <p> <%= simple_format location.description %></p>
        </div>
        <div class="separation"></div>
        <div class="card-reviews">
          <% if location.reviews.count == 0 %>
            <p> <%= image_tag 'review-quotes.png' %>
            Laissez le premier commentaire...</p>
            <div id="<%="review-form-#{location.id}"%>">
              <%= render 'add_comments_review', location: location, review: Review.new %>
            </div>
            <div id="<%="review-container-#{location.id}"%>">
            </div>
          <% else %>
            <p><%= image_tag 'review-quotes.png' %></p>
            <div id="<%="review-form-#{location.id}"%>">
              <%= render 'add_comments_review', location: location, review: Review.new %>
            </div>
            <p id="autres-commentaires"> Autres commentaires: </p>
            <div id="<%="review-container-#{location.id}"%>">
              <% location.reviews.last(3).reverse_each do |review| %>
                <%= render "reviews/show", review: review %>
              <% end %>
              <div id="toggle_other_reviews">
                <i class="fleche fas fa-angle-down"></i>
                <div class="other_reviews hidden">
                  <% hidden_reviews = location.reviews.count - 3 %>
                  <% location.reviews.first(hidden_reviews).reverse_each do |review| %>
                    <%= render "reviews/show", review: review %>
                  <% end %>
                </div>
              </div>
            </div>
          <% end %>
        </div>
        <div class="card-modal-footer">
          <button id="card-close-modal" type="button" class="button" data-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
<% end %>



