<div class="banner">
  <div class="banner-content">
    <div class="banner-top">
      <%= link_to root_path do %>
        <%= image_tag 'logo.png', width: 60 %>
      <% end %>
      <%= link_to users_profile_path do %>
        <%= image_tag 'avatar.png', width: 40 %>
      <% end %>
    </div>
    <h2>TODO: type.js ou autr</h2>
    <!-- search-bar -->
    <div class="filter" data-toggle="modal" data-target="#exampleModal">
      <%= image_tag 'controls.png', width: 20 %>
    </div>
  </div>
</div>

<!-- map -->
<%= render "map" %>

<div class="modal fade" id="categoriesModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Catégories</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= simple_form_for :search, method: :get,  url: locations_path, remote: true do |f| %>
        <%= f.input :categories, collection: Location::CATEGORIES, as: :check_boxes %>
        <%= f.submit 'Go !', class: 'button', id:'go-button' %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button id="close-modal" type="button" class="button" data-dismiss="modal">Fermer</button>
      </div>
    </div>
  </div>
</div>

